# macOS
.DS_Store
._*

# Arxiv source files
notes/20??-??/20??-??-??/*.tex
notes/20??-??/20??-??-??/*.sty
notes/20??-??/20??-??-??/*.bst
notes/20??-??/20??-??-??/*.bib
notes/20??-??/20??-??-??/00README.json
notes/20??-??/20??-??-??/figure/
notes/20??-??/20??-??-??/figure_app/
notes/20??-??/20??-??-??/fig/
notes/20??-??/20??-??-??/arXiv-*.tar.gz
notes/20??-??/20??-??-??/*.tar.gz
notes/20??-??/20??-??-??/figures/
notes/20??-??/20??-??-??/*.cls
notes/20??-??/20??-??-??/*.bib
notes/20??-??/20??-??-??/references.bib
notes/20??-??/20??-??-??/figs/
notes/20??-??/20??-??-??/sections/
notes/20??-??/20??-??-??/tables/
notes/20??-??/20??-??-??/fig/
notes/20??-??/20??-??-??/*.cls
